<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>viewlayer.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginError</servlet-name>
        <servlet-class>viewlayer.LoginError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAuthors</servlet-name>
        <servlet-class>viewlayer.GetAllAuthors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAuthorByAuthorId</servlet-name>
        <servlet-class>viewlayer.GetAuthorByAuthorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAuthor</servlet-name>
        <servlet-class>viewlayer.AddAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAuthorById</servlet-name>
        <servlet-class>viewlayer.UpdateAuthorById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAuthorById</servlet-name>
        <servlet-class>viewlayer.DeleteAuthorById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginError</servlet-name>
        <url-pattern>/LoginError-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAuthors</servlet-name>
        <url-pattern>/GetAllAuthors-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAuthorByAuthorId</servlet-name>
        <url-pattern>/GetAuthorByAuthorId-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAuthor</servlet-name>
        <url-pattern>/AddAuthor-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAuthorById</servlet-name>
        <url-pattern>/UpdateAuthorById-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAuthorById</servlet-name>
        <url-pattern>/DeleteAuthorById-URL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
